@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

section, div, main, body {
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}


:root {
    --bg-color: #ECEEE9;
    --primary: #EFD401;
    --secondary: #578856;
    --red: #C03D2D;
    --blue: #04889E;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: 3px solid black;
}

nav a {
    text-decoration: none;
}

.button {
    background-color: var(--primary);
    color: black;
    border: 3px solid black;
}

.button:hover {
    background-color: transparent;
    color: black;
    border: 3px solid black !important;
    transition: .3s;
}


/* hero */
.hero {
    margin-top: 0;
    padding: 100px 0;
    display: flex;
    color: white;
    padding-top: 0;
}

.hero-section {
    height: 100vh;
    border-bottom: 3px solid black;
}

.col-md-6 {
    background-color: var(--secondary);
    border-right: 1px solid #000000;
}

.col-md-6:nth-child(2) {
    background: var(--red);
    border-left: 2px solid #000000;
}

/* why choose us */

.feature-card {
    border: 3px solid black;
    background-color: var(--primary);
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}


/* category */
.section-title {
    font-weight: bold;
    color: black;
}


.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}


.category-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 3rem solid black;
}

.card {
    border: 3px solid black;
}

.badge-custom {
    background: var(--primary);
    border: 3px solid black;
    color: black;
    font-weight: 500;
}

.feature-card-testi {
    border: 3px solid black;
    background-color: var(--secondary);
    transition: transform 0.3s ease;
}

.feature-card-testi:hover {
    transform: translateY(-5px);
}
.text-purple {
    color: #9CF0E3;
}


.bg-purple {
    background-color: #9CF0E3;
    color: #fff;
}